<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe</title>
    <link rel="stylesheet" href="static/equipe.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <ul>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/dashboard">DashBoard</a></li>
                    <li><a href="/equipe">Equipe</a></li>                    
                </ul>
            </nav>
        </div>
    </header>

    <section id="equipe" class="section">
        <div class="container">
            <h2>Equipe</h2>

            <h3 class="category-title">Alunos</h3>
            <div class="team-members">
                <div class="team-member">
                    <img src="static/images/felipe.jpg" alt="Felipe Jovino Dos Santos">
                    <p>Felipe Jovino Dos Santos</p>
                </div>
                <div class="team-member">
                    <img src="static/images/gilberto.jpg" alt="Gilberto Bispo Dos Santos Neto">
                    <p>Gilberto Bispo Dos Santos Neto</p>
                </div>
                <div class="team-member">
                    <img src="static/images/eduardo.jpg" alt="Luiz Eduardo Andrade De Oliveira">
                    <p>Luiz Eduardo Andrade De Oliveira</p>
                </div>
                <div class="team-member">
                    <img src="static/images/paulinho.jpg" alt="Paulo Arthur Pereira Neri">
                    <p>Paulo Arthur Pereira Neri</p>
                </div>
            </div>

            <h3 class="category-title">Professores</h3>
            <div class="team-members">
                <div class="team-member">
                    <img src="static/images/stephanie.jpg" alt="Stephanie Kamarry Alves de Sousa">
                    <p>Stephanie Kamarry Alves de Sousa</p>
                </div>
                <div class="team-member">
                    <img src="static/images/fabio.jpg" alt="Fábio Luiz de Sá Prudente">
                    <p>Fábio Luiz de Sá Prudente</p>
                </div>
                <div class="team-member">
                    <img src="static/images/catuxe.jpg" alt="Catuxe Varjão De Oliveira">
                    <p>Catuxe Varjão De Oliveira</p>
                </div>
                <div class="team-member">
                    <img src="static/images/phillipe.jpg" alt="Phillipe Cardoso Santos">
                    <p>Phillipe Cardoso Santos</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <p>Desenvolvido pelo LABIC do IFS Campus Lagarto</p>
            <img src="static/images/labicLogo.png" alt="Logo LABIC">
        </div>
    </footer>            
</body>
</html>
