<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Sensores</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <ul>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/dashboard">DashBoard</a></li>
                    <li><a href="/equipe">Equipe</a></li>                    
                </ul>
            </nav>
        </div>
    </header>

    <section id="dashboard" class="section">
        <div class="container">
            <h2>Dashboard</h2>
            <div class="sensor-data">
                <div id="humidity">Umidade do ar (%):</div>
                <div id="temperature">Temperatura (C°):</div>
                <div id="soilMoisture">Umidade do solo (%):</div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <p>Desenvolvido pelo LABIC do IFS Campus Lagarto</p>
            <img src="static/images/labicLogo.png" alt="Logo LABIC">
        </div>
    </footer>        
    <script src="static/script.js"></script>
</body>
</html>
