<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="static/sobre.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="nav">
                <ul>
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/dashboard">DashBoard</a></li>
                    <li><a href="/equipe">Equipe</a></li>                    
                </ul>
            </nav>
        </div>
    </header>

    <section id="sobre" class="section">
        <div class="container">
            <h2>Sobre</h2>
            <p>O projeto de irrigação automática visa otimizar o uso da água na agricultura, promovendo a sustentabilidade e eficiência no cultivo. Utilizando tecnologias acessíveis e de fácil implementação, este sistema é ideal para pequenos produtores e agricultores familiares que desejam modernizar suas práticas agrícolas.</p>

            <p>O Laboratório de Inovação e Criatividade (LABIC) é um centro de pesquisa dinâmico e inovador localizado no Instituto Federal de Sergipe - Campus Lagarto. Focado nas áreas de programação, robótica e eletrônica, o LABIC é um espaço dedicado ao desenvolvimento de soluções tecnológicas avançadas e à formação de talentos na área de ciências exatas e tecnológicas.</p>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <p>Desenvolvido pelo LABIC do IFS Campus Lagarto</p>
            <img src="static/images/labicLogo.png" alt="Logo LABIC">
        </div>
    </footer>            
</body>
</html>
