body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.nav {
    text-align: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.section {
    margin-top: 40px;
}

.section h2 {
    color: #333;
    text-align: center;
}

.sensor-data {
    margin-top: 20px;
}

.sensor-data div {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#humidity {
    color: #3498db;
}

#temperature {
    color: #e67e22;
}

#soilMoisture {
    color: #27ae60;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.team-member {
    text-align: center;
    margin-bottom: 20px;
}

.team-member img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Estilo do rodapé */
.footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

.footer p {
    margin: 0;
}

.footer img {
    max-width: 100px;
    margin-top: 10px;
}
